.DS_Store
*.cmake
*.mat
PeriodicEwald/src/bin/*
PeriodicEwald/src/CMakeFiles/*
PeriodicEwald/src/Makefile
PeriodicEwald/src/CMakeCache.txt
PeriodicEwald/src/mex/Makefile
PeriodicEwald/src/mex/CMakeFiles/*
